/*線1定義*/
hr {
	border:solid #9b59b6 ;
	margin:-19px 0px 0px 0px ; 
	border-width:1px 0px 0px 0px ;
}

/*線2定義*/
hr.style-one {
	margin: -9px 0px 0px 0px ; 
	border-width:1px 0px 0px 0px ;
}

/*線3定義 Yomawari.htmlでのみ使用*/
hr.style-two {
	border:solid #7fffff ;
	margin: -9px 0px 0px 0px ; 
	border-width:1px 0px 0px 0px ;
}

/*フォント指定*/
body {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
   color: #fff;
}

iframe.twitter-timeline {
    width : auto !important;
}

/*メニューバー定義*/
#menu {
  list-style: none;
  overflow: hidden;
}
 
#menu li {
  font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  font-size: 14px;
  width: 140px;
  text-align: center;
  background-color: #2a2a2a;
  float: left;
  height: 35px;
  line-height: 35px;
  margin-right: 1px;
}
 
#menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/*電脳遊戯*/
#menu li:nth-child(1){
	  text-align: left;
	  width: 200px;
	font-size: 35px;
}
/*キャラクター*/
#menu li:nth-child(4){
	  width: 160px;
}
/*Whats new*/
#menu li:nth-child(6){
		  width: 160px;
}

.square {
   width: 1000px;
   height: 100px;
   background: black;
}